<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Matemáticas <%= n %></title>
    <link rel="stylesheet" href="../myStyle.css">
  </head>

  <body>

  <h1>Notas de Matemáticas de <%= nOrd %> Grado</h1>
  <hr>
  <p> <a href="http://localhost:3000/">Home</a> > Matemáticas <%= n %></p>
  <% units.forEach((unit, i) => { %>
    <h2> Unidad <%= i+1 %>: <%= unit %></h2>
    <ul>
        <% topics[i].forEach((topicName, j) => { %>
            <li><a href="http://localhost:3000/<%= subject %>/<%= topicDirs[i][j] %>"><%= topicName %></a></li>
        <% }) %>
    </ul>
  <% }) %>

  </body>

</html>