<!doctype html>
<html lang="es">
  <!--
  view served when getting
    dir/:subjectID
  with params:
    subject // eg, 'mate7'
    n // eg, 7
    nOrd //eg, 'Séptimo'
    units //eg, ['Unidad 1', 'Unidad 2', ...]
    topics // eg, [ ['Lección 1.1', 'Lección 1.2', ...], [...], ...]
    topicDirs // eg, [ ['Lección_1.1', 'Lección_1.2', ...], [...], ...]
    bttButtonPath //path to view of back-to-top button
    footerPath //path to view of footer
  -->
  <head>
    <meta charset="UTF-8">
    <title>Matemáticas <%= n %></title>

    <!--Font awesome-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css" integrity="sha512-2SwdPD6INVrV/lHTZbO2nodKhrnDdJK9/kg2XD1r9uGqPo1cUbujc+IYdlYdEErWNu69gVcYgdxlmVmzTWnetw==" crossorigin="anonymous" referrerpolicy="no-referrer" />

    <link rel="stylesheet" href="../myStyle.css">
  </head>

  <body>

  <h1>Notas de Matemáticas de <%= nOrd %> Grado</h1>
  <hr class='page-header'>

  <p> <a href="http://localhost:3000/">Home</a> > Matemáticas <%= n %></p>
  <% units.forEach((unit, i) => { %>
    <h2> Unidad <%= i+1 %>: <%= unit %></h2>
    <ul>
        <% topics[i].forEach((topicName, j) => { %>
            <li><a href="http://localhost:3000/<%= subject %>/<%= topicDirs[i][j] %>"><%= topicName %></a></li>
        <% }) %>
    </ul>
  <% }) %>

  <%- include(footerPath) %>
  <%- include(bttButtonPath) %>
  </body>

</html>